body{
    margin-top:20px;
    background:#eee;
}
.row.row-broken {
    padding-bottom: 0;
}
.col-inside-lg {
    padding: 20px;
}

.chat-body{
    overflow-y: scroll; 
    height:455px;
    width: 100%;
}

h6 {
    font-size: 30px;
    margin: 0 0 20px;
}









